*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body{
    overflow-x: hidden;
}
.header{
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #374151;
}


.navbar-list{
    display: flex;
    list-style-type: none;
    gap: 4.8rem;
}


.navbar-list-item{
    /* margin-right: 1.5rem; */
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 500;
    color:whitesmoke;
}

.navbar-list-item:hover{
    color:blue;
    transition: 0.3s ease-in-out;
}

.logo{
    height: 3rem;
    color: whitesmoke;
}



.section-hero,.section-services{
    padding: 9.6rem 0;
    height: 60vh;
    background-color: #a5d8ff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-services{
    background-color: #f3f0ff;
}

.mobile-navbar-button{
    display: none;
    background: transparent;
    cursor: pointer;
}
.nav-icon {
    font-size: 2rem;
    color: #212529;
}
.nav-icon[name="close"]{
    display: none;
}

.hero-paragraph,.services-paragraph{
    font-size: 3.2rem;
}

.nav-icon{
    font-size: 2rem;
    color: whitesmoke;
}



@media (max-width:62em){
    .mobile-navbar-button{
        display: block;
        z-index: 999;
        color: #212529;
    }

    .header{
        position: relative;
    }
    .header .logo{
     width: 40%;
    }

    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
       background-color: #e7f5ff;
       position: absolute;
       top: 0;
       left: 0;


       display: flex;
       justify-content: center;
       align-items: center;

       transform: translateX(100%);
       transition: all 0.5s linear;


       opacity: 0;
       visibility: hidden;
       pointer-events: none;

    }

    .navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .navbar-list-item{
        font-size: 20px;
        color: #111327;
    }


    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }


    .active .nav-icon[name="close"]{
        display: block;
        font-size: 40px;
        margin-top: 15px;
        border: 2px solid black;
        border-radius: 20%;
    }
    .active .nav-icon[name="hamburger"] {
            display: none;
        }
}
